.responsive{
  display: flex;
  flex-wrap: wrap;
}
.titleContainer{
  display:flex;
  flex-direction: row;
  justify-content:center;
}
@media (max-width:780px) {
  .titleContainer{
    font-size: 6em !important;
  }
}
@media (max-width:600px) {
  .titleContainer{
    font-size: 4em !important;
  }
}
@media (max-width:340px) {
  .titleContainer{
    font-size: 2em !important;
  }
}
.responsiveContainer{
  background-color: 'grey' !important;
  overflow-y:'scroll' !important;
}
